<div class="row"> 
    <div class="col">
        <h3>Solicitar Produto</h3>
        <hr>
        <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nomeResponsavel">Nome Responsavel</label>
                <input type="text" class="form-control" id="nomeResponsavel">
              </div>
              <div class="form-group col-md-6">
                <label for="nomeGestor">Nome do Gestor</label>
                <input type="text" class="form-control" id="nomeGestor">
              </div>
              <div class="form-group col-md-6">
                <label for="centroCusto">Centro de Custo</label>
                <input type="text" class="form-control" id="centroCusto">
              </div>
              <div class="form-group col-md-6">
                <label for="codigoProjeto">Codigo do Projeto</label>
                <input type="text" class="form-control" id="codigoProjeto">
              </div>
            </div>            
            <div class="form-row">            
              <div class="form-group col-md-4">
                <label for="qntProd">Quantidade</label>
               <input type="number" class="form-control" id="qntProd">
              </div>
              <div class="form-group col-md-4">
                <label for="inputGenero">Genero</label>
                <select id="inputGenero" class="form-control">
                  <option selected></option>
                  <option>Masculino</option>
                  <option>Feminino</option>                  
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputModelo">Modelo</label>
                <select id="inputModelo" class="form-control">
                  <option selected></option>
                  <option>Mochila</option>
                  <option>Camista X</option>
                  <option>Camista Y</option>
                  <option>Camista Z</option>
                  <option>Caneta</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <label for="inputEstado">Tamanho</label>
                <select id="inputEstado" class="form-control">
                  <option selected></option>
                  <option>PP</option>
                  <option>P</option>
                  <option>M</option>
                  <option>G</option>
                  <option>GG</option>
                  <option>XG</option>
                  <option>XGG</option>
                </select>
              </div>
            </div> 
            <div class="form-group">
              <label for="Obs">Obersavação</label>
              <textarea class="form-control" id="Obs" rows="3"></textarea>
            </div>          
            <button type="button" class="btn btn-primary float-right">Enviar</button>
          </form>
    </div>
</div>