<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="home"><img class="logoBRQ" src="../assets/img/ico-brq.png" alt="logo brq"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
    aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="home">Lista de Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="catalago">Catalago</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="solicitcao">Solicitar Produto</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="txtHeader">Portal Marketing</h2>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>