<div class="row">
    <div class="col">
        <h3>Catalago de Produtos</h3>
        <hr>
    </div>
</div>

<div class="row">
    <div class="col">
        <img class="mochila" src="../../assets/img/acessorios.png" alt="mochilas" srcset="">
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="demais mt-3" src="../../assets/img/demais.png" alt="demais">
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="blusaFeminina mt-3" src="../../assets/img/fem.png" alt="" srcset="">
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="blusaMasc mt-3" src="../../assets/img/masc.png" alt="" srcset="">
    </div>
</div>
